.payContainer{
    align-self: center;
    width: 80%;
    /* margin-left: 30%; */
    outline-style: groove;
    outline-width: 0.5px;
    padding: 1.2rem;
    border-radius: 9px;
}

.finalPay{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background-color: aqua;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cancelLink{
    box-shadow: none;
    text-decoration: none !important;
}