.logo {
    height: 70px;
    margin-top: 30px;
    margin-left: 50px;
}

.flatter {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/backgroundImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

.SignButton {
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    background-color: aliceblue;
}

.linkBtn {
    margin-top: 25px;
    margin-right: 30px;
    text-decoration: none !important;
    box-shadow: none;
    color: rgb(255, 255, 255);
    font-size: x-large
}

.linkBtn:focus {
    box-shadow: none;
}

.text1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

.orderButton {
    text-align: center;
    margin-left: 40%;
    border-radius: 10px;
    height: 50px;
    width: 250px;
    font-size: x-large;
    background-color: rgb(242, 198, 87);
}