.formdiv{
    border-radius: 5px;
    position: relative;
    text-align: center;
    font-style: italic;
    background-image: url(./images/login.jpg);
    opacity: 2.0;
    width: 30em;
    position: absolute;
    left: 30em;
    top: 10rem;
    height: 400px;
}
  .most{
    
      opacity: 1.0;
      width: 20em;
      position: absolute;
      left: 27em;
      top: 10rem;
      height: 300px;
  }
  
  h2{
      color:black;
      height: 100px;
      text-align: center;
      font-family: monospace;
      font-style: bold;
      font-size: 100px;
      text-shadow: 4px 2px 2px white;
  }
 
    
 .col{
   text-align: center;
 }




input{
  width: 200px;
  height: 50px;
}

  
@media screen and(min:320px) and(max:767px) {
  .most{
      align-items: center;
      left: 0px !important;
      width: 100% !important;
  }
  .most.offset-md-2 {
      left: 0px;
  }
}
