.orderdetailContainer{
    margin-left: 2%;
}

.addresscontainer{
    padding: 0.5rem;
    outline-style: groove;
    outline-width: 1px;
    border-radius: 6px;
    width: 50%;
    background-color: rgb(247, 247, 117);
}