.payBtn{
    width: 15%;
    height: 40px;
    margin-left: 73%;
    border-radius: 7px;
    font-size: large;
    font-weight: 500;
    background-color: rgb(220, 218, 77);
}

.amountInfo{
    margin-left: 62%;
}