.modal {
    display: flex;
    height: 100;
    width: 500px;
    background-color: rgb(246, 245, 240);
    border-top-left-radius: 10px;
    max-width: 50%;

    
}

@media screen and (max-width:798px){
    .modal{
        /* position: absolute;
        bottom: inherit; */
       max-width: 20%;
       height: auto;
        color: inherit;
    }
  }

.signUpInfo {
    margin-left: 7%;
    margin-top: 7%;
    position: relative;
}

.UpBtn {
    border-radius: 10px;
    width: 80px;
    height: 35px;
    font-size: larger;
    color: rgb(88, 86, 86);
    background-color: rgb(119, 201, 251);
    /* color: rgb(7, 84, 133); */
}