.address-box{
    margin-left: 15%;
    margin-right: 20%;
    /* width: 500px; */
    border-radius: 6px;
    outline-style: groove;
    outline-width: 1px;
}

.address{
    padding: 1rem;
    background-color: rgb(228, 223, 205);
}

.addressInfo{
    /* width: 300px; */
    /* height: 40px; */
    margin-left: 10%;
}

.edit{
    margin-left: 3%;
    border-radius: 4px;
    background-color: rgb(15, 109, 185);
    /* background-color: rgb(243, 234, 234); */
    color: white;
    font-weight: 400;
}

.delete{
    margin-left: 3%;
    border-radius: 4px;
    text-decoration: none !important;
    box-shadow: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.delete:focus {
    box-shadow: none;
}