.tableContainer{
    margin-left: 5%;
    margin-right: 10%;
    outline-style: groove;
    outline-width: 1px;
    /* background-color: blanchedalmond; */
    border-radius: 10px;
} 

.cartInfo{
    margin-left: 5%;
}

.removebtn{
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 4px;
    background-color: rgb(255, 212, 157);
    /* background-color: rgb(255, 182, 80); */
}

