.cartbtn {
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 3%;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    /* background-color: rgb(93, 95, 72); */
    background-color: cornsilk;
    color: black;
    font-size: larger;
}

.dropBtnd {
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 3%;
    border-radius: 10px;
    height: 40px;
    width: fit-content;
    background-color: rgb(239, 255, 98);
    background-color: cornsilk;

    color: black;
}

.headerlogoProfile {
    height: 60px;
    margin-top: 1%;
    margin-left: 50px;
    margin-bottom: 10px;
}

.sticky-top {
    position: fixed;
    top: 0;
    width: 102%;
}

.headerbtn{
    margin-top: 0.5%;
    margin-left: 2%;
    text-decoration: none !important;
    box-shadow: none;
    color: rgb(255, 255, 255);
    font-size: large
}

.headerbtn:focus {
    box-shadow: none;
}