.signInModal{
    display: flex;
    height: 100%;
    width: auto;
    background-color: rgb(246, 245, 240);
    border-top-left-radius: 10px;
}

.signInInfo{
    margin-left: 7%;
    margin-top: 7%;
}